<!DOCTYPE html>
<html lang="en">

<head>
  <title>Treatments</title>
  <%- include('./partials/head'); %>
</head>

<body class="page homepage">
  <input type="hidden" id="nav_id" value="treatments">
  <header>
    <%- include('./partials/header'); %>
  </header>

  <!-- content -->
  <div class="banner-area half-bgb auto-height fixed-thumb text-default">
    <div class="container">
      <div class="double-items t55">
        <div class="row" animation-delay="200">
          <div class="col-lg-5 col-sm-push-7 info" style="padding-top: 38px">
            <h4 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp">
              All Treatments
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="treatment-1">
            <img src="images/New-Project-3.jpg" />
            <h2>Lorem Ipsum is simply dummy</h2>
            <p class="premium-blog-post-content">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s
            </p>
            <a href="#" class="premium-blog-excerpt-link elementor-button">Read More »</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="treatment-1">
            <img src="images/New-Project-3.jpg" />
            <h2>Lorem Ipsum is simply dummy</h2>
            <p class="premium-blog-post-content">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s
            </p>
            <a href="#" class="premium-blog-excerpt-link elementor-button">Read More »</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="treatment-1">
            <img src="images/New-Project-3.jpg" />
            <h2>Lorem Ipsum is simply dummy</h2>
            <p class="premium-blog-post-content">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s
            </p>
            <a href="#" class="premium-blog-excerpt-link elementor-button">Read More »</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="treatment-1">
            <img src="images/New-Project-3.jpg" />
            <h2>Lorem Ipsum is simply dummy</h2>
            <p class="premium-blog-post-content">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s
            </p>
            <a href="#" class="premium-blog-excerpt-link elementor-button">Read More »</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="treatment-1">
            <img src="images/New-Project-3.jpg" />
            <h2>Lorem Ipsum is simply dummy</h2>
            <p class="premium-blog-post-content">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s
            </p>
            <a href="#" class="premium-blog-excerpt-link elementor-button">Read More »</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="treatment-1">
            <img src="images/New-Project-3.jpg" />
            <h2>Lorem Ipsum is simply dummy</h2>
            <p class="premium-blog-post-content">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s
            </p>
            <a href="#" class="premium-blog-excerpt-link elementor-button">Read More »</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ content -->

  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

</html>